body {
  display: flex;
  justify-content: center;
  background-color: turquoise;
}

h1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

#h-score, #g-score {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  font-size: 60px;
  background-color: green;
  padding: 30px;
  border-radius: 20px;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  border-radius: 20px;
}

#container {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  background-image: linear-gradient(to bottom right, red, yellow);
  border-radius: 20px;
}

#home-board, #guest-board {
  padding: 30px;
}